.subscribe {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin-bottom: 100px;
    font-family: Open Sans Condensed;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: white;

    @media (min-width: $small-min-width) and (max-width: $small-max-width) {
      font-size: 30px;
      margin-bottom: 40px;
    }

    &--color {
      font-weight: 300;
      color: #d1a954;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    &-container {
      display: flex;
      justify-content: center;

      @media (min-width: $small-min-width) and (max-width: $small-max-width) {
        flex-direction: column;
      }

      &-inputs {
        width: 420px;

        @media (min-width: $small-min-width) and (max-width: $small-max-width) {
          width: 280px;
        }
  
        @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
          width: 390px;
        }
      }
    }

    &-input {
      padding-left: 20px;
      margin-bottom: 30px;
      height: 35px;
      width: 180px;
      background: #444444;
      outline: none;
      border: 1px solid #616161;
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #989898;
      transition: box-shadow 0.2s linear;

      @media (min-width: $small-min-width) and (max-width: $small-max-width) {
        width: 280px;
      }

      @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
        width: 170px;
      }

      &:hover {
        box-shadow: 0 2px 0 #3C93D5;
      }

      &--1 {
        margin-right: 30px;

        @media (min-width: $small-min-width) and (max-width: $small-max-width) {
          margin-right: 0;
        }

        @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
          margin-right: 20px;
        }
      }

      &--3 {
        margin-right: 30px;

        @media (min-width: $small-min-width) and (max-width: $small-max-width) {
          margin-right: 0;
        }

        @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
          margin-right: 20px;
        }
      }
    }

    &-message {
      &-text {
        padding-left: 20px;
        height: 100px;
        width: 270px;
        background: #444444;
        border: 1px solid #616161;
        outline: none;
        resize: none;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #989898;
        transition: box-shadow 0.2s linear;

        @media (min-width: $small-min-width) and (max-width: $small-max-width) {
          width: 280px;
        }
  
        @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
          width: 250px;
        }

        &:hover {
          box-shadow: 0 2px 0 #3C93D5;
        }
      }
    }

    &-submit {
      display: flex;
      justify-content: center;

      @media (min-width: $small-min-width) and (max-width: $small-max-width) {
        flex-direction: column;
      }

      &-text {
        margin-top: 10px;
        width: 390px;
        margin-right: 115px;
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #989898;

        @media (min-width: $small-min-width) and (max-width: $small-max-width) {
          margin-bottom: 20px;
          width: 280px;
          margin-right: 0;
        }
  
        @media (min-width: $medium-min-width) and (max-width: $medium-max-width) {
          margin-right: 63px;
        }
      }

      &-button {
        cursor: pointer;
        height: 50px;
        width: 190px;
        background: #d1a954;
        font-family: Open Sans Condensed;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-align: center;
        color: #ffffff;
        transition: background 0.3s linear;

        @media (min-width: $small-min-width) and (max-width: $small-max-width) {
          width: 280px;
        }

        &:hover {
          background: #d16d54;
        }
      }
    }
  }
}
